In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

1. We need to have a dataframe that includes all the possible players and basic statistics that are available from 1991-2016, to help us think of how to structure other dataframes and running models on different subsets of data. 
--

In [3]:
br = pd.read_csv('~/GA-Capstone-Project/Clean Data/brdraft.csv')

In [4]:
br

,Year,Pick,Team,Name,College,Seasons,Games,Minutes Played,Points,Total Rebounds,...,3P%,FT%,MPG,PPG,TRPG,APG,Win Share,Win Share/48,Box +/-,VORP
0,1991,1,CHH,Larry Johnson\johnsla02,University of Nevada Las Vegas,10.0,707.0,25685.0,11450.0,5300.0,...,0.332,0.766,36.3,16.2,7.5,3.3,69.7,0.130,2.4,28.3
1,1991,2,NJN,Kenny Anderson\anderke01,Georgia Institute of Technology,14.0,858.0,25868.0,10789.0,2641.0,...,0.346,0.790,30.1,12.6,3.1,6.1,62.5,0.116,0.8,18.0
2,1991,3,SAC,Billy Owens\owensbi01,Syracuse University,10.0,600.0,17619.0,7026.0,4016.0,...,0.291,0.629,29.4,11.7,6.7,2.8,28.6,0.078,0.5,11.2
3,1991,4,DEN,Dikembe Mutombo\mutomdi01,Georgetown University,18.0,1196.0,36791.0,11729.0,12359.0,...,0.000,0.684,30.8,9.8,10.3,1.0,117.0,0.153,2.1,38.2
4,1991,5,MIA,Steve Smith\smithst01,Michigan State University,14.0,942.0,28855.0,13430.0,3060.0,...,0.358,0.845,30.6,14.3,3.2,3.1,83.7,0.139,1.4,24.4
5,1991,6,DAL,Doug Smith\smithdo03,University of Missouri,5.0,296.0,5833.0,2356.0,1234.0,...,0.083,0.773,19.7,8.0,4.2,1.4,3.0,0.024,-3.0,-1.5
6,1991,7,MIN,Luc Longley\longllu01,University of New Mexico,10.0,567.0,12006.0,4090.0,2794.0,...,0.000,0.760,21.2,7.2,4.9,1.5,17.5,0.070,-1.5,1.5
7,1991,8,DEN,Mark Macon\maconma01,Temple University,6.0,251.0,5018.0,1685.0,467.0,...,0.270,0.735,20.0,6.7,1.9,1.7,0.1,0.001,-3.2,-1.5
8,1991,9,ATL,Stacey Augmon\augmost01,University of Nevada Las Vegas,15.0,1001.0,21658.0,7990.0,3216.0,...,0.152,0.728,21.6,8.0,3.2,1.6,43.8,0.097,-0.2,9.8
9,1991,10,ORL,Bison Dele\delebi01,University of Arizona,8.0,413.0,10004.0,4536.0,2564.0,...,0.143,0.691,24.2,11.0,6.2,1.1,22.8,0.109,-0.3,4.4
10,1991,11,CLE,Terrell Brandon\brandte01,University of Oregon,11.0,724.0,21545.0,9994.0,2174.0,...,0.355,0.873,29.8,13.8,3.0,6.1,65.9,0.147,2.4,23.7
11,1991,12,NYK,Greg Anthony\anthogr01,University of Nevada Las Vegas,11.0,757.0,15850.0,5497.0,1417.0,...,0.349,0.733,20.9,7.3,1.9,4.0,35.9,0.109,0.0,8.1
12,1991,13,IND,Dale Davis\davisda01,Clemson University,16.0,1094.0,29606.0,8706.0,8605.0,...,0.000,0.562,27.1,8.0,7.9,0.9,86.9,0.141,1.8,28.6
13,1991,14,SEA,Rich King\kingri01,University of Nebraska,4.0,72.0,309.0,135.0,74.0,...,0.000,0.662,4.3,1.9,1.0,0.3,0.2,0.036,-5.8,-0.3
14,1991,15,ATL,Anthony Avent\aventan01,Seton Hall University,6.0,352.0,6729.0,1958.0,1584.0,...,0.000,0.686,19.1,5.6,4.5,0.8,0.3,0.002,-4.9,-5.0
15,1991,16,GSW,Chris Gatling\gatlich01,Old Dominion University,11.0,700.0,13760.0,7232.0,3741.0,...,0.249,0.660,19.7,10.3,5.3,0.7,32.1,0.112,-2.1,-0.2
16,1991,17,GSW,Victor Alexander\alexavi01,Iowa State University,5.0,286.0,5755.0,2542.0,1384.0,...,0.286,0.634,20.1,8.9,4.8,0.9,8.8,0.073,-2.6,-0.9
17,1991,18,MIL,Kevin Brooks\brookke01,University of Louisiana at Lafayette,3.0,126.0,1031.0,417.0,141.0,...,0.200,0.859,8.2,3.3,1.1,0.4,-0.1,-0.004,-7.9,-1.5
18,1991,19,WSB,LaBradford Smith\smithla02,University of Louisville,3.0,183.0,3131.0,1218.0,271.0,...,0.298,0.813,17.1,6.7,1.5,2.2,1.5,0.024,-4.1,-1.6
19,1991,20,HOU,John Turner\turnejo01,Phillips University,1.0,42.0,345.0,117.0,78.0,...,NaN,0.525,8.2,2.8,1.9,0.3,-0.1,-0.021,-7.4,-0.5
20,1991,21,UTA,Eric Murdock\murdoer01,Providence College,9.0,508.0,11882.0,5118.0,1261.0,...,0.343,0.786,23.4,10.1,2.5,4.9,25.6,0.103,1.1,9.4
21,1991,22,LAC,LeRon Ellis\ellisle02,Syracuse University,3.0,91.0,857.0,277.0,220.0,...,NaN,0.613,9.4,3.0,2.4,0.3,1.2,0.069,-3.2,-0.3
22,1991,23,ORL,Stanley Roberts\roberst01,Louisiana State University,8.0,300.0,5869.0,2555.0,1549.0,...,0.000,0.514,19.6,8.5,5.2,0.6,8.1,0.066,-3.3,-1.9
23,1991,24,BOS,Rick Fox\foxri01,University of North Carolina,13.0,930.0,23723.0,8966.0,3517.0,...,0.349,0.770,25.5,9.6,3.8,2.8,44.7,0.090,1.0,17.6
24,1991,25,GSW,Shaun Vandiver,University of Colorado,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,1991,26,CHI,Mark Randall\randama01,University of Kansas,4.0,127.0,883.0,332.0,160.0,...,0.154,0.722,7.0,2.6,1.3,0.4,1.0,0.054,-3.6,-0.4
26,1991,27,SAC,Pete Chilcutt\chilcpe01,University of North Carolina,9.0,584.0,8394.0,2494.0,1935.0,...,0.381,0.696,14.4,4.3,3.3,0.8,10.6,0.060,-1.9,0.3
27,1991,28,CHH,Kevin Lynch\lynchke01,University of Minnesota,2.0,95.0,1143.0,310.0,120.0,...,0.333,0.726,12.0,3.3,1.3,1.1,0.4,0.016,-4.0,-0.6
28,1991,29,MIA,George Ackles,University of Nevada Las Vegas,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,1991,30,ATL,Rodney Monroe\monroro01,North Carolina State University,1.0,38.0,313.0,131.0,33.0,...,0.222,0.826,8.2,3.4,0.9,0.7,-0.2,-0.035,-6.9,-0.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1484,2016,31,BOS,Deyonta Davis\davisde01,Michigan State University,1.0,36.0,238.0,58.0,60.0,...,NaN,0.556,6.6,1.6,1.7,0.1,0.5,0.097,-3.6,-0.1
1485,2016,32,LAL,Ivica Zubac\zubaciv01,NaN,1.0,38.0,609.0,284.0,159.0,...,0.000,0.653,16.0,7.5,4.2,0.8,1.1,0.086,-2.5,-0.1
1486,2016,33,LAC,Cheick Diallo\diallch01,University of Kansas,1.0,17.0,199.0,87.0,73.0,...,NaN,0.714,11.7,5.1,4.3,0.2,0.5,0.111,-5.6,-0.2
1487,2016,34,PHO,Tyler Ulis\ulisty01,University of Kentucky,1.0,61.0,1123.0,444.0,96.0,...,0.266,0.775,18.4,7.3,1.6,3.7,0.7,0.029,-4.0,-0.6
1488,2016,35,BOS,Rade Zagorac\zagorra01,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1489,2016,36,MIL,Malcolm Brogdon\brogdma01,University of Virginia,1.0,75.0,1982.0,767.0,213.0,...,0.404,0.865,26.4,10.2,2.8,4.2,4.1,0.100,-0.5,0.8
1490,2016,37,HOU,Chinanu Onuaku\onuakch01,University of Louisville,1.0,5.0,52.0,14.0,10.0,...,NaN,1.000,10.4,2.8,2.0,0.6,0.1,0.123,-0.6,0.0
1491,2016,38,MIL,Patrick McCaw\mccawpa01,University of Nevada Las Vegas,1.0,71.0,1074.0,282.0,101.0,...,0.333,0.784,15.1,4.0,1.4,1.1,1.7,0.077,-1.7,0.1
1492,2016,39,NOP,David Michineau\michida01,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1493,2016,40,NOP,Diamond Stone\stonedi01,University of Maryland,1.0,7.0,24.0,10.0,6.0,...,NaN,1.000,3.4,1.4,0.9,0.0,-0.1,-0.211,-24.1,-0.1
1494,2016,41,ORL,Stephen Zimmerman\zimmest01,University of Nevada Las Vegas,1.0,19.0,108.0,23.0,35.0,...,NaN,0.600,5.7,1.2,1.8,0.2,0.0,-0.005,-7.3,-0.1
1495,2016,42,UTA,Isaiah Whitehead\whiteis01,Seton Hall University,1.0,73.0,1643.0,543.0,183.0,...,0.295,0.805,22.5,7.4,2.5,2.6,-0.8,-0.024,-4.9,-1.2
1496,2016,43,HOU,Zhou Qi\qizh01,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1497,2016,44,ATL,Isaia Cordinier\cordiis01,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1498,2016,45,BOS,Demetrius Jackson\jacksde01,University of Notre Dame,1.0,5.0,17.0,10.0,4.0,...,1.000,0.500,3.4,2.0,0.8,0.6,0.1,0.386,6.4,0.0
1499,2016,46,DAL,A.J. Hammons\hammoaj01,Purdue University,1.0,22.0,163.0,48.0,36.0,...,0.500,0.450,7.4,2.2,1.6,0.2,0.0,-0.001,-5.6,-0.1
1500,2016,47,ORL,Jake Layman\laymaja01,University of Maryland,1.0,35.0,249.0,78.0,24.0,...,0.255,0.765,7.1,2.2,0.7,0.3,-0.3,-0.056,-7.6,-0.4
1501,2016,48,CHI,Paul Zipser\zipsepa01,NaN,1.0,44.0,843.0,240.0,125.0,...,0.333,0.775,19.2,5.5,2.8,0.8,0.5,0.030,-3.7,-0.4
1502,2016,49,DET,Michael Gbinije\gbinimi01,Syracuse University,1.0,9.0,32.0,4.0,3.0,...,0.000,1.000,3.6,0.4,0.3,0.2,-0.1,-0.136,-10.4,-0.1
1503,2016,50,IND,Georges Niang\niangge01,Iowa State University,1.0,23.0,93.0,21.0,17.0,...,0.083,1.000,4.0,0.9,0.7,0.2,-0.3,-0.168,-12.0,-0.2
1504,2016,51,BOS,Ben Bentil\bentibe01,Providence College,1.0,3.0,10.0,0.0,2.0,...,0.000,NaN,3.3,0.0,0.7,0.0,-0.1,-0.473,-26.9,-0.1
1505,2016,52,UTA,Joel Bolomboy\bolomjo01,Weber State University,1.0,12.0,53.0,22.0,17.0,...,0.250,0.500,4.4,1.8,1.4,0.2,0.2,0.171,-0.8,0.0
1506,2016,53,DEN,Petr Cornelie\cornepe01,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1507,2016,54,ATL,Kay Felder\feldeka01,Oakland University,1.0,42.0,386.0,166.0,41.0,...,0.318,0.714,9.2,4.0,1.0,1.4,0.0,0.004,-6.1,-0.4
1508,2016,55,BRK,Marcus Paige\paigema01,University of North Carolina,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1509,2016,56,DEN,Daniel Hamilton\hamilda02,University of Connecticut,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1510,2016,57,MEM,Wang Zhelin\sheliwa01,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1511,2016,58,BOS,Abdel Nader\naderab01,Iowa State University,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1512,2016,59,SAC,Isaiah Cousins\cousiis01,University of Oklahoma,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1513,2016,60,UTA,Tyrone Wallace\wallaty01,University of California,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**Lets clean up the name column**

In [5]:
br['Name'] = br['Name'].apply(lambda x: x.split('\\')[0].lower().title())

**To standardize names**

In [6]:
br

,Year,Pick,Team,Name,College,Seasons,Games,Minutes Played,Points,Total Rebounds,...,3P%,FT%,MPG,PPG,TRPG,APG,Win Share,Win Share/48,Box +/-,VORP
0,1991,1,CHH,Larry Johnson,University of Nevada Las Vegas,10.0,707.0,25685.0,11450.0,5300.0,...,0.332,0.766,36.3,16.2,7.5,3.3,69.7,0.130,2.4,28.3
1,1991,2,NJN,Kenny Anderson,Georgia Institute of Technology,14.0,858.0,25868.0,10789.0,2641.0,...,0.346,0.790,30.1,12.6,3.1,6.1,62.5,0.116,0.8,18.0
2,1991,3,SAC,Billy Owens,Syracuse University,10.0,600.0,17619.0,7026.0,4016.0,...,0.291,0.629,29.4,11.7,6.7,2.8,28.6,0.078,0.5,11.2
3,1991,4,DEN,Dikembe Mutombo,Georgetown University,18.0,1196.0,36791.0,11729.0,12359.0,...,0.000,0.684,30.8,9.8,10.3,1.0,117.0,0.153,2.1,38.2
4,1991,5,MIA,Steve Smith,Michigan State University,14.0,942.0,28855.0,13430.0,3060.0,...,0.358,0.845,30.6,14.3,3.2,3.1,83.7,0.139,1.4,24.4
5,1991,6,DAL,Doug Smith,University of Missouri,5.0,296.0,5833.0,2356.0,1234.0,...,0.083,0.773,19.7,8.0,4.2,1.4,3.0,0.024,-3.0,-1.5
6,1991,7,MIN,Luc Longley,University of New Mexico,10.0,567.0,12006.0,4090.0,2794.0,...,0.000,0.760,21.2,7.2,4.9,1.5,17.5,0.070,-1.5,1.5
7,1991,8,DEN,Mark Macon,Temple University,6.0,251.0,5018.0,1685.0,467.0,...,0.270,0.735,20.0,6.7,1.9,1.7,0.1,0.001,-3.2,-1.5
8,1991,9,ATL,Stacey Augmon,University of Nevada Las Vegas,15.0,1001.0,21658.0,7990.0,3216.0,...,0.152,0.728,21.6,8.0,3.2,1.6,43.8,0.097,-0.2,9.8
9,1991,10,ORL,Bison Dele,University of Arizona,8.0,413.0,10004.0,4536.0,2564.0,...,0.143,0.691,24.2,11.0,6.2,1.1,22.8,0.109,-0.3,4.4
10,1991,11,CLE,Terrell Brandon,University of Oregon,11.0,724.0,21545.0,9994.0,2174.0,...,0.355,0.873,29.8,13.8,3.0,6.1,65.9,0.147,2.4,23.7
11,1991,12,NYK,Greg Anthony,University of Nevada Las Vegas,11.0,757.0,15850.0,5497.0,1417.0,...,0.349,0.733,20.9,7.3,1.9,4.0,35.9,0.109,0.0,8.1
12,1991,13,IND,Dale Davis,Clemson University,16.0,1094.0,29606.0,8706.0,8605.0,...,0.000,0.562,27.1,8.0,7.9,0.9,86.9,0.141,1.8,28.6
13,1991,14,SEA,Rich King,University of Nebraska,4.0,72.0,309.0,135.0,74.0,...,0.000,0.662,4.3,1.9,1.0,0.3,0.2,0.036,-5.8,-0.3
14,1991,15,ATL,Anthony Avent,Seton Hall University,6.0,352.0,6729.0,1958.0,1584.0,...,0.000,0.686,19.1,5.6,4.5,0.8,0.3,0.002,-4.9,-5.0
15,1991,16,GSW,Chris Gatling,Old Dominion University,11.0,700.0,13760.0,7232.0,3741.0,...,0.249,0.660,19.7,10.3,5.3,0.7,32.1,0.112,-2.1,-0.2
16,1991,17,GSW,Victor Alexander,Iowa State University,5.0,286.0,5755.0,2542.0,1384.0,...,0.286,0.634,20.1,8.9,4.8,0.9,8.8,0.073,-2.6,-0.9
17,1991,18,MIL,Kevin Brooks,University of Louisiana at Lafayette,3.0,126.0,1031.0,417.0,141.0,...,0.200,0.859,8.2,3.3,1.1,0.4,-0.1,-0.004,-7.9,-1.5
18,1991,19,WSB,Labradford Smith,University of Louisville,3.0,183.0,3131.0,1218.0,271.0,...,0.298,0.813,17.1,6.7,1.5,2.2,1.5,0.024,-4.1,-1.6
19,1991,20,HOU,John Turner,Phillips University,1.0,42.0,345.0,117.0,78.0,...,NaN,0.525,8.2,2.8,1.9,0.3,-0.1,-0.021,-7.4,-0.5
20,1991,21,UTA,Eric Murdock,Providence College,9.0,508.0,11882.0,5118.0,1261.0,...,0.343,0.786,23.4,10.1,2.5,4.9,25.6,0.103,1.1,9.4
21,1991,22,LAC,Leron Ellis,Syracuse University,3.0,91.0,857.0,277.0,220.0,...,NaN,0.613,9.4,3.0,2.4,0.3,1.2,0.069,-3.2,-0.3
22,1991,23,ORL,Stanley Roberts,Louisiana State University,8.0,300.0,5869.0,2555.0,1549.0,...,0.000,0.514,19.6,8.5,5.2,0.6,8.1,0.066,-3.3,-1.9
23,1991,24,BOS,Rick Fox,University of North Carolina,13.0,930.0,23723.0,8966.0,3517.0,...,0.349,0.770,25.5,9.6,3.8,2.8,44.7,0.090,1.0,17.6
24,1991,25,GSW,Shaun Vandiver,University of Colorado,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,1991,26,CHI,Mark Randall,University of Kansas,4.0,127.0,883.0,332.0,160.0,...,0.154,0.722,7.0,2.6,1.3,0.4,1.0,0.054,-3.6,-0.4
26,1991,27,SAC,Pete Chilcutt,University of North Carolina,9.0,584.0,8394.0,2494.0,1935.0,...,0.381,0.696,14.4,4.3,3.3,0.8,10.6,0.060,-1.9,0.3
27,1991,28,CHH,Kevin Lynch,University of Minnesota,2.0,95.0,1143.0,310.0,120.0,...,0.333,0.726,12.0,3.3,1.3,1.1,0.4,0.016,-4.0,-0.6
28,1991,29,MIA,George Ackles,University of Nevada Las Vegas,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,1991,30,ATL,Rodney Monroe,North Carolina State University,1.0,38.0,313.0,131.0,33.0,...,0.222,0.826,8.2,3.4,0.9,0.7,-0.2,-0.035,-6.9,-0.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1484,2016,31,BOS,Deyonta Davis,Michigan State University,1.0,36.0,238.0,58.0,60.0,...,NaN,0.556,6.6,1.6,1.7,0.1,0.5,0.097,-3.6,-0.1
1485,2016,32,LAL,Ivica Zubac,NaN,1.0,38.0,609.0,284.0,159.0,...,0.000,0.653,16.0,7.5,4.2,0.8,1.1,0.086,-2.5,-0.1
1486,2016,33,LAC,Cheick Diallo,University of Kansas,1.0,17.0,199.0,87.0,73.0,...,NaN,0.714,11.7,5.1,4.3,0.2,0.5,0.111,-5.6,-0.2
1487,2016,34,PHO,Tyler Ulis,University of Kentucky,1.0,61.0,1123.0,444.0,96.0,...,0.266,0.775,18.4,7.3,1.6,3.7,0.7,0.029,-4.0,-0.6
1488,2016,35,BOS,Rade Zagorac,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1489,2016,36,MIL,Malcolm Brogdon,University of Virginia,1.0,75.0,1982.0,767.0,213.0,...,0.404,0.865,26.4,10.2,2.8,4.2,4.1,0.100,-0.5,0.8
1490,2016,37,HOU,Chinanu Onuaku,University of Louisville,1.0,5.0,52.0,14.0,10.0,...,NaN,1.000,10.4,2.8,2.0,0.6,0.1,0.123,-0.6,0.0
1491,2016,38,MIL,Patrick Mccaw,University of Nevada Las Vegas,1.0,71.0,1074.0,282.0,101.0,...,0.333,0.784,15.1,4.0,1.4,1.1,1.7,0.077,-1.7,0.1
1492,2016,39,NOP,David Michineau,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1493,2016,40,NOP,Diamond Stone,University of Maryland,1.0,7.0,24.0,10.0,6.0,...,NaN,1.000,3.4,1.4,0.9,0.0,-0.1,-0.211,-24.1,-0.1
1494,2016,41,ORL,Stephen Zimmerman,University of Nevada Las Vegas,1.0,19.0,108.0,23.0,35.0,...,NaN,0.600,5.7,1.2,1.8,0.2,0.0,-0.005,-7.3,-0.1
1495,2016,42,UTA,Isaiah Whitehead,Seton Hall University,1.0,73.0,1643.0,543.0,183.0,...,0.295,0.805,22.5,7.4,2.5,2.6,-0.8,-0.024,-4.9,-1.2
1496,2016,43,HOU,Zhou Qi,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1497,2016,44,ATL,Isaia Cordinier,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1498,2016,45,BOS,Demetrius Jackson,University of Notre Dame,1.0,5.0,17.0,10.0,4.0,...,1.000,0.500,3.4,2.0,0.8,0.6,0.1,0.386,6.4,0.0
1499,2016,46,DAL,A.J. Hammons,Purdue University,1.0,22.0,163.0,48.0,36.0,...,0.500,0.450,7.4,2.2,1.6,0.2,0.0,-0.001,-5.6,-0.1
1500,2016,47,ORL,Jake Layman,University of Maryland,1.0,35.0,249.0,78.0,24.0,...,0.255,0.765,7.1,2.2,0.7,0.3,-0.3,-0.056,-7.6,-0.4
1501,2016,48,CHI,Paul Zipser,NaN,1.0,44.0,843.0,240.0,125.0,...,0.333,0.775,19.2,5.5,2.8,0.8,0.5,0.030,-3.7,-0.4
1502,2016,49,DET,Michael Gbinije,Syracuse University,1.0,9.0,32.0,4.0,3.0,...,0.000,1.000,3.6,0.4,0.3,0.2,-0.1,-0.136,-10.4,-0.1
1503,2016,50,IND,Georges Niang,Iowa State University,1.0,23.0,93.0,21.0,17.0,...,0.083,1.000,4.0,0.9,0.7,0.2,-0.3,-0.168,-12.0,-0.2
1504,2016,51,BOS,Ben Bentil,Providence College,1.0,3.0,10.0,0.0,2.0,...,0.000,NaN,3.3,0.0,0.7,0.0,-0.1,-0.473,-26.9,-0.1
1505,2016,52,UTA,Joel Bolomboy,Weber State University,1.0,12.0,53.0,22.0,17.0,...,0.250,0.500,4.4,1.8,1.4,0.2,0.2,0.171,-0.8,0.0
1506,2016,53,DEN,Petr Cornelie,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1507,2016,54,ATL,Kay Felder,Oakland University,1.0,42.0,386.0,166.0,41.0,...,0.318,0.714,9.2,4.0,1.0,1.4,0.0,0.004,-6.1,-0.4
1508,2016,55,BRK,Marcus Paige,University of North Carolina,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1509,2016,56,DEN,Daniel Hamilton,University of Connecticut,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1510,2016,57,MEM,Wang Zhelin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1511,2016,58,BOS,Abdel Nader,Iowa State University,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1512,2016,59,SAC,Isaiah Cousins,University of Oklahoma,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1513,2016,60,UTA,Tyrone Wallace,University of California,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**Columns we want to keep, and will likely be available in the other dataframes:**

* Year
* Pick
* Name
* Team
* College

In [7]:
df = br[['Year','Pick','Name','Team','College']].copy()

In [8]:
ded = pd.read_csv('/Users/mattlee/GA-Capstone-Project/Clean Data/dedraft.csv')
ded.head()

,Unnamed: 0,Draft Position,Name,Weight at Draft,NBA Team,Country,Age at Draft,Height at Draft,Year,Position,Wingspan
0,0,1,Larry Johnson,250,Pelicans,USA,22.1,"6'6.0""",1991,F,-
1,1,2,Kenny Anderson,161,Nets,USA,20.5,"6'0.0""",1991,PG,-
2,2,3,Billy Owens,225,Kings,USA,21.9,"6'8.0""",1991,F,-
3,3,4,Dikembe Mutombo,260,Nuggets,Congo DR,24.8,"7'2.0""",1991,C,-
4,4,5,Steve Smith,200,Heat,USA,22.0,"6'7.0""",1991,G,-

In [9]:
ded['Name'] = ded['Name'].apply(lambda x: x.replace('_','').lower().title())

In [10]:
ded.loc[ded['Wingspan'] != '-'].shape

(756, 11)

**As you can see, wingspan is only recorded for about 50% of the players, so we will not add this feature to our general dataframe for now**

**Columns we want to add to general dataframe:**

* Name (as primary key)
* Weight at Draft
* Country
* Age at Draft
* Height at Draft
* Position

In [29]:
merge = ded[['Name','Age at Draft','Weight at Draft','Height at Draft','Country','Position']]

In [30]:
df1 = pd.merge(df,merge,how = 'left',on = 'Name')

In [31]:
df1.isnull().sum()

Year                 0
Pick                 0
Name                 0
Team                 0
College            286
Age at Draft         0
Weight at Draft      0
Height at Draft      0
Country              0
Position             0
dtype: int64

**We have to edit the names in the Draft Express dataframe to match Basketball Reference's**

In [28]:
ded.iloc[1394, ded.columns.get_loc('Name')] = 'Karl-Anthony Towns'
ded.iloc[37, ded.columns.get_loc('Name')] = 'Joe Wylie'
ded.iloc[41, ded.columns.get_loc('Name')] = 'Steve Hood'
ded.iloc[96, ded.columns.get_loc('Name')] = 'Sasha Danilovic'
ded.iloc[224, ded.columns.get_loc('Name')] = 'Ed O\'Bannon'
ded.iloc[269, ded.columns.get_loc('Name')] = 'Aurelijius Zukauskas'
ded.iloc[294, ded.columns.get_loc('Name')] = 'Dontae\' Jones'
ded.iloc[296, ded.columns.get_loc('Name')] = 'Efthimi Rentzias'
ded.iloc[312, ded.columns.get_loc('Name')] = 'Russ Millard'
ded.iloc[318, ded.columns.get_loc('Name')] = 'Joe Vogel'
ded.iloc[362, ded.columns.get_loc('Name')] = 'Charles O\'Bannon'
ded.iloc[387, ded.columns.get_loc('Name')] = 'Nate Erdmann'
ded.iloc[458, ded.columns.get_loc('Name')] = 'Aleksandar Radojevic'
ded.iloc[460, ded.columns.get_loc('Name')] = 'William Avery'
ded.iloc[462, ded.columns.get_loc('Name')] = 'Metta World Peace'
ded.iloc[482, ded.columns.get_loc('Name')] = 'Wang Zhizhi'
ded.iloc[1149, ded.columns.get_loc('Name')] = 'Hamady N\'Diaye'
ded.iloc[530, ded.columns.get_loc('Name')] = 'Mamadou N\'Diaye'
ded.iloc[626, ded.columns.get_loc('Name')] = 'Nene Hilario'
ded.iloc[628, ded.columns.get_loc('Name')] = 'Amar\'E Stoudemire'
ded.iloc[649, ded.columns.get_loc('Name')] = 'Roger Mason'
ded.iloc[723, ded.columns.get_loc('Name')] = 'Mo Williams'
ded.iloc[755, ded.columns.get_loc('Name')] = 'Pavel Podkolzin'
ded.iloc[766, ded.columns.get_loc('Name')] = 'Peter John Ramos'
ded.iloc[779, ded.columns.get_loc('Name')] = 'Bernard Robinson'
ded.iloc[791, ded.columns.get_loc('Name')] = 'Sergei Karaulov'
ded.iloc[834, ded.columns.get_loc('Name')] = 'Roko Ukic'
ded.iloc[863, ded.columns.get_loc('Name')] = 'Mouhamed Sene'
ded.iloc[888, ded.columns.get_loc('Name')] = 'P.J. Tucker'
ded.iloc[896, ded.columns.get_loc('Name')] = 'Marcus Vinicius'
ded.iloc[904, ded.columns.get_loc('Name')] = 'Cheikh Samb'
ded.iloc[917, ded.columns.get_loc('Name')] = 'Mike Conley'
ded.iloc[1010, ded.columns.get_loc('Name')] = 'Luc Mbah A Moute'
ded.iloc[1016, ded.columns.get_loc('Name')] = 'Patrick Ewing'
ded.iloc[1082, ded.columns.get_loc('Name')] = 'Sergiy Gladyr'
ded.iloc[1180, ded.columns.get_loc('Name')] = 'Jajuan Johnson'
ded.iloc[1209, ded.columns.get_loc('Name')] = 'Chukwudiebere Maduabum'
ded.iloc[1210, ded.columns.get_loc('Name')] = 'Targuy Ngombo'
ded.iloc[1228, ded.columns.get_loc('Name')] = 'Maurice Harkless'
ded.iloc[1290, ded.columns.get_loc('Name')] = 'Dennis Schroder'
ded.iloc[1297, ded.columns.get_loc('Name')] = 'Tim Hardaway'
ded.iloc[1369, ded.columns.get_loc('Name')] = 'Johnny O\'Bryant Iii'
ded.iloc[1373, ded.columns.get_loc('Name')] = 'Glenn Robinson Iii'
ded.iloc[1389, ded.columns.get_loc('Name')] = 'Roy Devyn Marble'
ded.iloc[1420, ded.columns.get_loc('Name')] = 'Larry Nance Jr.'
ded.iloc[1428, ded.columns.get_loc('Name')] = 'Willy Hernangomez'
ded.iloc[1432, ded.columns.get_loc('Name')] = 'Juan Pablo Vaulet'
ded.iloc[1447, ded.columns.get_loc('Name')] = 'Dani Diez'
ded.iloc[1452, ded.columns.get_loc('Name')] = 'Dimitrios Agravanis'
ded.iloc[1461, ded.columns.get_loc('Name')] = 'Marquesse Chriss'

**Names are same now. We will try to fill NAs with either overseas or highschool. NBA prohibited high school from entering the NBA since 2006. Players need to be 19 years old and one year removed from highschool. However, there are cases of players playing in overseas basketball leagues after highschool and entering the NBA, or repeating a year in highschool.**

In [32]:
df1.loc[(df1['College'].isnull()) & (df1['Country'] == 'USA') & (df1['Year'] < 2006), 'College'] = 'Highschool'

In [33]:
df1.loc[(df1['College'].isnull()) & (df1['Country'] == 'USA') & (df1['Year'] > 2006), 'College'] = 'Overseas League'

In [34]:
df1.loc[(df1['College'].isnull()) & (df1['Country'] != 'USA') & (df1['Year'] == 2001) & ((df1['Pick'] == 8) | (df1['Pick'] == 46)), 'College'] = 'Highschool'

In [35]:
df1.loc[(df1['College'].isnull()) & (df1['Country'] == 'Nigeria') & (df1['Pick'] == 26), 'College'] = 'Highschool'

In [36]:
df1.loc[(df1['College'].isnull()) & (df1['Country'] == 'Puerto Rico') & (df1['Pick'] == 35), 'College'] = 'Highschool'

In [37]:
df1.loc[(df1['College'].isnull()) & (df1['Country'] == 'Philippines'), 'College'] = 'Highschool'

In [38]:
df1.loc[(df1['College'].isnull()) & (df1['Country'] == 'India'), 'College'] = 'Highschool'

In [39]:
df1.loc[(df1['College'].isnull()) & (df1['Year'] == 2016) & (df1['Pick'] == 10), 'College'] = 'Highschool'

In [40]:
df1.loc[(df1['Name'] == 'Enes Kanter'), 'College'] = 'Highschool'

In [41]:
df1.loc[(df1['Name'] == 'Georgios Papagiannis'), 'College'] = 'Overseas League'

In [42]:
df1.loc[(df1['College'].isnull()), 'College'] = 'International'

In [43]:
df1.isnull().sum()

Year               0
Pick               0
Name               0
Team               0
College            0
Age at Draft       0
Weight at Draft    0
Height at Draft    0
Country            0
Position           0
dtype: int64

**Finished cleaning dataframe**

In [44]:
dem = pd.read_csv('/Users/mattlee/GA-Capstone-Project/Clean Data/demeasure.csv', na_values='-')

In [45]:
dem.isnull().sum()

Unnamed: 0            0
Height No Shoes       0
Max Reach          1885
Draft Position     2589
Name                  0
Weight               41
Height Shoes       1345
Max Vertical       1885
Hand Width         3117
Bodyfat            2654
Standing Reach      992
Hand Length        3050
Agility            1796
Year                  0
No Step            1621
Bench              2564
Wingspan            275
Sprint             1688
No Step Reach      1621
dtype: int64

**From this dataset, only Height No Shoes is complete, so we will add that to our general dataframe for now.**

In [46]:
dem[['Name','Height No Shoes']].head()

              Name Height No Shoes
0  Dikembe Mutombo          7'1.3"
1  Stanley Roberts         6'11.0"
2       Bison Dele          6'9.5"
3    Pete Chilcutt          6'9.0"
4       Doug Smith          6'8.5"

In [47]:
dem['Name'] = dem['Name'].apply(lambda x: x.lower().title())

In [48]:
merge = dem[['Name','Height No Shoes']].copy()

In [49]:
df2 = pd.merge(df1,merge,how = 'left',on = 'Name')

In [50]:
df2.isnull().sum()

Year                 0
Pick                 0
Name                 0
Team                 0
College              0
Age at Draft         0
Weight at Draft      0
Height at Draft      0
Country              0
Position             0
Height No Shoes    600
dtype: int64

In [257]:
dem.loc[dem['Name'] == 'Luc Longley']

Empty DataFrame
Columns: [Unnamed: 0, Height No Shoes, Max Reach, Draft Position, Name, Weight, Height Shoes, Max Vertical, Hand Width, Bodyfat, Standing Reach, Hand Length, Agility, Year, No Step, Bench, Wingspan, Sprint, No Step Reach]
Index: []

In [258]:
df2.loc[df2['Height No Shoes'].isnull()].head()

,Year,Pick,Name,Team,College,Age at Draft,Weight at Draft,Height at Draft,Country,Position,Height No Shoes
6,1991,7,Luc Longley,MIN,University of New Mexico,22.2,265,"7'2.0""",Australia,C,NaN
7,1991,8,Mark Macon,DEN,Temple University,22.0,185,"6'4.0""",USA,G,NaN
10,1991,11,Terrell Brandon,CLE,University of Oregon,20.9,180,"5'11.0""",USA,G,NaN
12,1991,13,Dale Davis,IND,Clemson University,22.0,230,"6'11.0""",USA,C,NaN
13,1991,14,Rich King,SEA,University of Nebraska,22.0,260,"7'2.0""",USA,C,NaN

**Actually, it looks like measurement data is not complete, we will not include these specific measurements in our general dataframe for now**

NBA Players by State
--

**Now we import the CSV that includes the birth date, city, and state of NBA players and attempt to merge it into our existing dataframe**

In [267]:
state = pd.read_excel('/Users/mattlee/GA-Capstone-Project/Clean Data/NBA Players by State.xlsx')

In [268]:
state.head()

,Player,Yrs,G,MP,FG,FGA,3P,3PA,FT,FTA,...,FG%,3P%,FT%,MP.1,PTS.1,TRB.1,AST.1,Date,City,State
0,Michael Ansley,3,149,2143,383,746,0,0,260,360,...,0.513,NaN,0.722,14.4,6.9,4.2,0.4,"Feb 8, 1967",Birmingham,Alabama
1,Keith Askins,9,486,7983,677,1688,275,774,223,311,...,0.401,0.355,0.717,16.4,3.8,2.9,0.8,"Dec 15, 1967",Athens,Alabama
2,Carl Bailey,1,1,7,1,1,0,0,0,0,...,1,NaN,NaN,7,2,0,0,"Apr 23, 1958",Birmingham,Alabama
3,Charles Barkley*,16,1073,39330,8435,15605,538,2020,6349,8643,...,0.541,0.266,0.735,36.7,22.1,11.7,3.9,"Feb 20, 1963",Leeds,Alabama
4,Eric Bledsoe,7,380,10039,1657,3709,294,890,1042,1325,...,0.447,0.33,0.786,26.4,12.2,3.7,4.4,1989-12-09 00:00:00,Birmingham,Alabama

In [269]:
state['Player'] = state['Player'].apply(lambda x: x.replace('*','').lower().title())

**To fix a typo**

In [274]:
state.loc[state['State'] == 'Washingon', 'State'] = 'Washington'

In [275]:
state.to_csv('NBA Players State.csv', index = False)

In [51]:
state = pd.read_csv('/Users/mattlee/GA-Capstone-Project/NBA Players State.csv')

In [52]:
merge = state[['Player','Date','City','State']]

In [53]:
df2 = pd.merge(df1, merge, how = 'left', left_on = 'Name', right_on= 'Player')

**Unfortunately, some manual work is needed to fill the null values**

In [57]:
df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Shaun Vandiver')
        , ['Date','City','State']] = ['Jun 15, 1968','Chicago','Illinois']

In [58]:
df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'George Ackles')
        , ['Date','City','State']] = ['Jul 4, 1967','Pittsburgh','Pennsylvania']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Joe Wylie')
        , ['Date','City','State']] = ['Feb 10, 1968','Washington','DC']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Steve Hood')
        , ['Date','City','State']] = ['Apr 4, 1968','Lynchburg','Virginia']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Keith Hughes')
        , ['Date','City','State']] = ['Jun 29, 1968','Carteret','New Jersey']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Joey Wright')
        , ['Date','City','State']] = ['Sep 4, 1968','Alton','Illinois']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Von Mcdade')
        , ['Date','City','State']] = ['Jun 7, 1967','Milwaukee','Wisconsin']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Marcus Kennedy')
        , ['Date','City','State']] = ['Jan 29, 1967','Highland Park','Michigan']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Steve Rogers')
        , ['Date','City','State']] = ['Jul 30, 1968','Montgomery','Alabama']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Henry Williams')
        , ['Date','City','State']] = ['Jun 6, 1970','Indianapolis','Indiana']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Ron Ellis')
        , ['Date','City','State']] = ['Sep 18, 1968','Monroe','Louisiana']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Tim Burroughs')
        , ['Date','City','State']] = ['Oct 14, 1969','Hopkins','South Carolina']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Curtis Blair')
        , ['Date','City','State']] = ['Sep 24, 1970','Roanoke','Virginia']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Brett Roberts')
        , ['Date','City','State']] = ['Mar 24, 1970','Portsmouth','Ohio']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Shawn Bradley')
        , ['Date','City','State']] = ['Mar 22, 1972','Castle Dale','Utah']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Sherron Mills')
        , ['Date','City','State']] = ['Jul 29, 1971','Salisbury','Maryland']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'John Best')
        , ['Date','City','State']] = ['Mar 27, 1971','Neptune','New Jersey']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Conrad Mcrae')
        , ['Date','City','State']] = ['Jan 11, 1971','Irvine','California']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Thomas Hill')
        , ['Date','City','State']] = ['Aug 31, 1971','Lancaster','Texas']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Anthony Reed')
        , ['Date','City','State']] = ['Jan 3, 1971','Monroe','Louisiana']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Alex Holcombe')
        , ['Date','City','State']] = ['Nov 22, 1969','Houston','Texas']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Mark Buford')
        , ['Date','City','State']] = ['Oct 8, 1970','Memphis','Tennessee']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Leonard White')
        , ['Date','City','State']] = ['Feb 21, 1971','Century','Florida']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Byron Wilson')
        , ['Date','City','State']] = ['Sep 1, 1971','Gary','Indiana']

In [59]:
df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Deon Thomas')
        , ['Date','City','State']] = ['Feb 24, 1971','Chicago','Illinois']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Rodney Dent')
        , ['Date','City','State']] = ['Dec 25, 1970','Edison','Georgia']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Gary Collier')
        , ['Date','City','State']] = ['Oct 8, 1971','Fort Worth','Texas']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Damon Bailey')
        , ['Date','City','State']] = ['Oct 21, 1971','Heltonville','Indiana']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Jevon Crudup')
        , ['Date','City','State']] = ['Apr 27, 1972','Kansas City','Missouri']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Kris Bruton')
        , ['Date','City','State']] = ['Jan 10, 1971','Greer','South Carolina']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Albert Burditt')
        , ['Date','City','State']] = ['May 15, 1972','Austin','Texas']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Rashard Griffith')
        , ['Date','City','State']] = ['Oct 8, 1974','Chicago','Illinois']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Erik Meek')
        , ['Date','City','State']] = ['Jan 17, 1973','San Diego','California']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Anthony Pelle')
        , ['Date','City','State']] = ['Dec 1, 1972','New York City','New York']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Troy Brown')
        , ['Date','City','State']] = ['Apr 3, 1971','Lynn','Massachusetts']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'George Banks')
        , ['Date','City','State']] = ['Oct 9, 1972','Rillito','Arizona']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Ryan Minor')
        , ['Date','City','State']] = ['Jan 5, 1974','Canton','Ohio']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Shawn Harvey')
        , ['Date','City','State']] = ['Dec 31, 1973','Philadelphia','Pennsylvania']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Joseph Blair')
        , ['Date','City','State']] = ['Jun 12, 1974','Akron','Ohio']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Russ Millard')
        , ['Date','City','State']] = ['Mar 1, 1973','Bradenton','Florida']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Marcus Mann')
        , ['Date','City','State']] = ['Dec 19, 1973','Carthage','Mississippi']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Joe Vogel')
        , ['Date','City','State']] = ['Sep 15, 1973','North Platte','Nebraska']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Terrell Bell')
        , ['Date','City','State']] = ['Dec 15, 1973','Athens','Georgia']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Ronnie Henderson')
        , ['Date','City','State']] = ['Mar 29, 1974','Gulfport','Mississppi']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Darnell Robinson')
        , ['Date','City','State']] = ['May 30, 1974','Oakland','California']

In [60]:
df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Tim Duncan')
        , ['Date','City','State']] = ['Apr 25, 1976','Christiansted','U.S. Virgin Islands']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Adonal Foyle')
        , ['Date','City','State']] = ['Mar 9, 1975','Canouan','Saint Vincent and the Grenadines']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Mark Sanford')
        , ['Date','City','State']] = ['Feb 7, 1976','Dallas','Texas']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Eddie Elisma')
        , ['Date','City','State']] = ['Apr 9, 1975','Miami','Florida']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Gordon Malone')
        , ['Date','City','State']] = ['Jul 17, 1974','Brooklyn','New York']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Nate Erdmann')
        , ['Date','City','State']] = ['Nov 21, 1973','Fort Dodge','Iowa']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Miles Simon')
        , ['Date','City','State']] = ['Nov 21, 1975`','Stockholm','Sweden']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Rico Hill')
        , ['Date','City','State']] = ['Feb 14, 1977','Oceanside','California']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Louis Bullock')
        , ['Date','City','State']] = ['May 20, 1976','Washington','DC']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Tyrone Washington')
        , ['Date','City','State']] = ['Sep 16, 1976','East St. Louis','Illinois']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'J.R. Koch')
        , ['Date','City','State']] = ['Sep 10, 1976','Peoria','Illinois']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Venson Hamilton')
        , ['Date','City','State']] = ['Aug 11, 1977','Forest City','North Carolina']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Antwain Smith')
        , ['Date','City','State']] = ['May 1, 1975','Newport News','Virginia']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Roberto Bergersen')
        , ['Date','City','State']] = ['Jan 6, 1976','Seattle','Washington']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Melvin Levett')
        , ['Date','City','State']] = ['Apr 25, 1976','Cleveland','Ohio']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Kris Clack')
        , ['Date','City','State']] = ['Jul 6, 1977','Austin','Texas']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Eddie Lucas')
        , ['Date','City','State']] = ['Jul 14, 1975','Groton','Connecticut']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Chris Carrawell')
        , ['Date','City','State']] = ['Nov 25, 1977','St. Louis','Missouri']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Deeandre Hulett')
        , ['Date','City','State']] = ['Dec 29, 1980','Saginaw','Michigan']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Mark Karcher')
        , ['Date','City','State']] = ['Nov 28, 1978','Baltimore','Maryland']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Cory Hightower')
        , ['Date','City','State']] = ['Jul 30, 1979','Flint','Michigan']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Jaquay Walls')
        , ['Date','City','State']] = ['Apr 3, 1978','Brooklyn','New York']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Scoonie Penn')
        , ['Date','City','State']] = ['Jan 9, 1977','Yonkers','New York']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Pete Mickeal')
        , ['Date','City','State']] = ['Feb 22, 1978','Rock Island','Illinois']

In [61]:
df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Michael Wright')
        , ['Date','City','State']] = ['Jan 7, 1980','Chicago','Illinois']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Eric Chenowith')
        , ['Date','City','State']] = ['Mar 9, 1979','Orange','California']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Kyle Hill')
        , ['Date','City','State']] = ['Apr 7, 1979','Chicago','Illinois']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Andre Hutson')
        , ['Date','City','State']] = ['Jan 12, 1979','Dayton','Ohio']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Maurice Jeffers')
        , ['Date','City','State']] = ['Apr 3, 1979','Morrilton','Arkansas']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Bryan Bracey')
        , ['Date','City','State']] = ['Aug 5, 1978','Chicago','Illinois']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Steve Logan')
        , ['Date','City','State']] = ['Mar 20, 1980','Cleveland','Ohio']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Carlos Boozer')
        , ['Date','City','State']] = ['Nov 20, 1981','Juneau','Alaska']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Rod Grizzard')
        , ['Date','City','State']] = ['Jun 13, 1980','Birmingham','Alabama']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Jason Jennings')
        , ['Date','City','State']] = ['Apr 18, 1979','Bald Knob','Arkansas']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Sam Clancy')
        , ['Date','City','State']] = ['May 4, 1980','Pittsburgh','Pennsylvania']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Marcus Taylor')
        , ['Date','City','State']] = ['Nov 25, 1981','Lansing','Michigan']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Mario Austin')
        , ['Date','City','State']] = ['Feb 26, 1982','Livingston','Alabama']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Tommy Smith')
        , ['Date','City','State']] = ['Dec 4, 1980','Phoenix','Arizona']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Rick Rickert')
        , ['Date','City','State']] = ['Feb 11, 1983','Duluth','Minnesota']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'David Young')
        , ['Date','City','State']] = ['Aug 18, 1981','New Castle','Pennsylvania']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Tim Pickett')
        , ['Date','City','State']] = ['Apr 18, 1981','Daytona Beach','Florida']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Ricky Minard')
        , ['Date','City','State']] = ['Sep 11, 1982','Mansfield','Ohio']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Rickey Paulding')
        , ['Date','City','State']] = ['Oct 23, 1982','Detroit','Michigan']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Blake Stepp')
        , ['Date','City','State']] = ['Feb 4, 1982','Eugene','Oregon']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Rashad Wright')
        , ['Date','City','State']] = ['Mar 17, 1982','Statesboro','Georgia']

In [62]:
df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Louis Williams')
        , ['Date','City','State']] = ['Oct 27, 1986','Memphis','Tennessee']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'J.R. Pinnock')
        , ['Date','City','State']] = ['Dec 11, 1983','Fort Hood','Texas']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Adam Haluska')
        , ['Date','City','State']] = ['Nov 16, 1983','Carroll','Iowa']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Reyshawn Terry')
        , ['Date','City','State']] = ['Apr 7, 1984','Winston-Salem','North Carolina']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Jared Jordan')
        , ['Date','City','State']] = ['Oct 14, 1984','Hartford','Connecticut']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Herbert Hill')
        , ['Date','City','State']] = ['Oct 1, 1984','Ulm','Germany']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Sammy Mejia')
        , ['Date','City','State']] = ['Feb 7, 1983','Bronx','New York']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Joe Alexander')
        , ['Date','City','State']] = ['Dec 26, 1986','Kaohsiung','Taiwan']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Anthony Randolph')
        , ['Date','City','State']] = ['Jul 15, 1989','Wurzburg','Germany']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Donte Greene')
        , ['Date','City','State']] = ['Feb 21, 1988','Munich','Germany']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Trent Plaisted')
        , ['Date','City','State']] = ['Oct 1, 1986','Manteca','California']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Bill Walker')
        , ['Date','City','State']] = ['Oct 9, 1987','Huntington','West Virginia']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Devon Hardin')
        , ['Date','City','State']] = ['Aug 7, 1986','Long Beach','California']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Shan Foster')
        , ['Date','City','State']] = ['Aug 20, 1986','Laurel','Mississippi']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Maarty Leunen')
        , ['Date','City','State']] = ['Sep 3, 1985','Vancouver','Washington']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'James Gist')
        , ['Date','City','State']] = ['Oct 26, 1986','Adana','Turkey']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Deron Washington')
        , ['Date','City','State']] = ['Dec 12, 1985','New Orleans','Louisiana']

In [63]:
df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Jeff Pendergraph')
        , ['Date','City','State']] = ['Apr 29, 1987','Ontario','California']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Jack Mcclinton')
        , ['Date','City','State']] = ['Jan 18, 1985','Baltimore','Maryland']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Robert Vaden')
        , ['Date','City','State']] = ['Mar 3, 1985','Indianapolis','Indiana']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Ahmad Nivins')
        , ['Date','City','State']] = ['Feb 10, 1987','Jersey City','New Jersey']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Robert Dozier')
        , ['Date','City','State']] = ['Nov 6, 1985','Lithonia','Georgia']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Xavier Henry')
        , ['Date','City','State']] = ['Mar 15, 1991','Ghent','Belgium']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Terrico White')
        , ['Date','City','State']] = ['Mar 7, 1990','Memphis','Tennessee']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Da\'Sean Butler')
        , ['Date','City','State']] = ['Jan 25, 1988','Newark','New Jersey']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Tiny Gallon')
        , ['Date','City','State']] = ['Jan 18, 1991','Vallejo','California']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Latavious Williams')
        , ['Date','City','State']] = ['Mar 29, 1989','Starkville','Mississippi']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Stanley Robinson')
        , ['Date','City','State']] = ['Jul 14, 1988','Birmingham','Alabama']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Dwayne Collins')
        , ['Date','City','State']] = ['Apr 13, 1988','Miami','Florida']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Kyrie Irving')
        , ['Date','City','State']] = ['Mar 23, 1992','West Orange','New Jersey']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Reggie Jackson')
        , ['Date','City','State']] = ['Apr 16, 1990','Colorado Springs','Colorado']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Jon Diebler')
        , ['Date','City','State']] = ['Jun 22, 1988','Sylvania','Ohio']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Marcus Denmon')
        , ['Date','City','State']] = ['Mar 20, 1990','Kansas City','Missouri']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Pierre Jackson')
        , ['Date','City','State']] = ['Aug 29, 1991','Las Vegas','Nevada']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Romero Osby')
        , ['Date','City','State']] = ['May 7, 1990','Frankfurt','Germany']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Colton Iverson')
        , ['Date','City','State']] = ['Jun 29, 1989','Aberdeen','South Dakota']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Alex Oriakhi')
        , ['Date','City','State']] = ['Jun 21, 1990','Lowell','Massachusetts']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Deshaun Thomas')
        , ['Date','City','State']] = ['Aug 29, 1991','Fort Wayne','Indiana']

In [64]:
df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Johnny O\'Bryant Iii')
        , ['Date','City','State']] = ['Jun 1, 1993','Cleveland','Mississippi']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Deandre Daniels')
        , ['Date','City','State']] = ['Apr 15, 1992','Woodland Hills','California']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Glenn Robinson Iii')
        , ['Date','City','State']] = ['Jan 8, 1994','Gary','Indiana']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Alec Brown')
        , ['Date','City','State']] = ['Jul 23, 1992','Winona','Minnesota']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Roy Devyn Marble')
        , ['Date','City','State']] = ['Sep 21, 1992','Southfield','Michigan']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Xavier Thames')
        , ['Date','City','State']] = ['Jan 9, 1991','Sacramento','California']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Joseph Young')
        , ['Date','City','State']] = ['Jun 27, 1992','Houston','Texas']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Dakari Johnson')
        , ['Date','City','State']] = ['Sep 22, 1995','Brooklyn','New York']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Aaron White')
        , ['Date','City','State']] = ['Sep 10, 1992','Strongsville','Ohio']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Tyler Harvey')
        , ['Date','City','State']] = ['Jul 17, 1993','Torrance','California']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Sir\'Dominic Pointer')
        , ['Date','City','State']] = ['May 6, 1992','Detroit','Michigan']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'J.P. Tokoto')
        , ['Date','City','State']] = ['Sep 15, 1993','Rockford','Illinois']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Marquesse Chriss')
        , ['Date','City','State']] = ['Jul 2, 1997','Sacramento','California']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Taurean Prince')
        , ['Date','City','State']] = ['Mar 22, 1994','San Marcos','Texas']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Deandre Bembry')
        , ['Date','City','State']] = ['Jul 4, 1994','Charlotte','North Carolina']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Brice Johnson')
        , ['Date','City','State']] = ['Jun 27, 1994','Orangeburg','South Carolina']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Chinanu Onuaku')
        , ['Date','City','State']] = ['Nov 1, 1996','Lanham','Maryland']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Marcus Paige')
        , ['Date','City','State']] = ['Sep 11, 1993','Cedar Rapids','Iowa']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Daniel Hamilton')
        , ['Date','City','State']] = ['Aug 8, 1995','Los Angeles','California']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Abdel Nader')
        , ['Date','City','State']] = ['Sep 25, 1993','Skokie','Illinois']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Isaiah Cousins')
        , ['Date','City','State']] = ['Mar 13, 1994','Mount Vernon','New York']

df2.loc[(df2['Date'].isnull()) & (df2['Country'] == 'USA') & (df2['Name'] == 'Tyrone Wallace')
        , ['Date','City','State']] = ['Jun 10, 1994','Bakersfield','California']

In [55]:
df2.drop('Player', axis =1 , inplace = True)

In [56]:
df2.head()

,Year,Pick,Name,Team,College,Age at Draft,Weight at Draft,Height at Draft,Country,Position,Date,City,State
0,1991,1,Larry Johnson,CHH,University of Nevada Las Vegas,22.1,250,"6'6.0""",USA,F,"Nov 28, 1954",Morganfield,Kentucky
1,1991,1,Larry Johnson,CHH,University of Nevada Las Vegas,22.1,250,"6'6.0""",USA,F,"Mar 14, 1969",Tyler,Texas
2,1991,2,Kenny Anderson,NJN,Georgia Institute of Technology,20.5,161,"6'0.0""",USA,PG,1970-10-09 00:00:00,Queens,New York
3,1991,3,Billy Owens,SAC,Syracuse University,21.9,225,"6'8.0""",USA,F,"May 1, 1969",Carlisle,Pennsylvania
4,1991,4,Dikembe Mutombo,DEN,Georgetown University,24.8,260,"7'2.0""",Congo DR,C,NaN,NaN,NaN

**We have a dataframe with birthdate and birthplace of players from the US, and some basic information. We can split this dataframe up into USA and international players.**

In [67]:
df2_usa = df2.loc[df2['Country'] == 'USA'].copy()

In [68]:
df2_int = df2.loc[df2['Country'] != 'USA'].copy()

In [69]:
df2.to_csv('generaldf.csv',index = False)
df2_usa.to_csv('generaldfusa.csv', index = False)
df2_int.to_csv('generaldfint.csv',index = False)

In [70]:
df2_int.drop(['Date','City','State'], axis = 1, inplace = True)

In [71]:
df2_int.to_csv('generaldfint.csv', index = False)