In [114]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn
from sklearn.externals import joblib
%matplotlib inline

**This notebook is for preparing the data for the 2017 early entry college players to be tested on our models**

In [2]:
pd.set_option('display.max_columns',50)
pd.set_option('display.max_rows',10000)
df = pd.read_csv('/Users/mattlee/GA-Capstone-Project/Clean Data/realgmncaa2.csv')

In [3]:
df.head()

,BPG,TOV,3PM,3PA,DRB,PPG,Games Played,FGM,PF,RPG,FT%,FGA,SPG,Name,FTA,Team,FG%,FTM,MPG,APG,ORB,3P%,Year
0,0.3,4.0,3.5,8.9,5.0,29.3,28,8.1,2.8,6.9,0.841,20.5,1.3,Ruben Douglas,11.2,UNM,0.397,9.5,35.1,2.2,1.9,0.395,2003
1,0.5,2.2,2.9,6.6,4.7,27.4,30,8.6,2.0,6.6,0.844,18.7,1.4,Henry Domercant,8.7,EIU,0.460,7.4,33.7,2.7,1.9,0.434,2003
2,0.2,4.4,4.1,10.5,2.7,27.4,29,8.8,2.1,3.6,0.853,22.1,1.6,Kee-Kee Clark,6.7,SPC,0.396,5.7,38.2,4.6,0.9,0.392,2003
3,0.2,3.8,4.2,12.0,3.0,26.3,29,8.8,2.5,3.8,0.753,23.3,1.5,Michael Watson,6.0,UMKC,0.377,4.5,38.8,3.9,0.8,0.350,2003
4,0.2,3.6,2.6,6.8,2.6,26.1,28,8.4,3.1,3.9,0.745,18.5,1.4,Mike Helms,9.1,OU,0.452,6.8,34.5,1.9,1.2,0.379,2003

In [4]:
df['Name'] = df['Name'].apply(lambda x: x.lower().title())

In [5]:
draft = pd.read_csv('/Users/mattlee/GA-Capstone-Project/generaldf.csv')

In [8]:
newplayers = draft.loc[draft['Year'] > 2012].copy()

In [9]:
newplayers.head()

,Year,Pick,Name,Team,College,Age at Draft,Weight at Draft,Height at Draft,Country,Position,Date,City,State,Height Inches,SeasonYear
1274,2013,1,Anthony Bennett,CLE,University of Nevada Las Vegas,20.1,239,"6'7.0""",Canada,PF,NaN,NaN,NaN,79,2014
1275,2013,2,Victor Oladipo,ORL,Indiana University,20.9,213,"6'4.0""",USA,SG,1992-05-04 00:00:00,Silver Spring,Maryland,76,2014
1276,2013,3,Otto Porter,WAS,Georgetown University,19.8,198,"6'9.0""",USA,SF,1993-06-03 00:00:00,St. Louis,Missouri,81,2014
1277,2013,4,Cody Zeller,CHA,Indiana University,20.5,230,"7'0.0""",USA,PF/C,1992-10-05 00:00:00,Washington,Indiana,84,2014
1278,2013,5,Alex Len,PHO,University of Maryland,19.8,255,"7'1.0""",Ukraine,C,NaN,NaN,NaN,85,2014

In [10]:
names = list(newplayers['Name'])

In [20]:
len(names)

240

In [12]:
df1 = df.loc[df['Name'].isin(names)].copy()

In [13]:
df1.shape

(493, 23)

In [14]:
new = df1.groupby(['Name','Team'], as_index = False)['PPG'].mean()

In [15]:
new1 = pd.concat([new,
                df1.groupby(['Name','Team'], as_index = False)['Games Played'].mean()['Games Played'],
                df1.groupby(['Name','Team'], as_index = False)['MPG'].mean()['MPG'],
                df1.groupby(['Name','Team'], as_index = False)['FGM'].mean()['FGM'],
                df1.groupby(['Name','Team'], as_index = False)['FGA'].mean()['FGA'],
                df1.groupby(['Name','Team'], as_index = False)['FG%'].mean()['FG%'],
                df1.groupby(['Name','Team'], as_index = False)['FTM'].mean()['FTM'],
                df1.groupby(['Name','Team'], as_index = False)['FTA'].mean()['FTA'],
                df1.groupby(['Name','Team'], as_index = False)['FT%'].mean()['FT%'],
                df1.groupby(['Name','Team'], as_index = False)['3PM'].mean()['3PM'],
                df1.groupby(['Name','Team'], as_index = False)['3PA'].mean()['3PA'],
                df1.groupby(['Name','Team'], as_index = False)['3P%'].mean()['3P%'],
                df1.groupby(['Name','Team'], as_index = False)['ORB'].mean()['ORB'],
                df1.groupby(['Name','Team'], as_index = False)['DRB'].mean()['DRB'],
                df1.groupby(['Name','Team'], as_index = False)['RPG'].mean()['RPG'],
                df1.groupby(['Name','Team'], as_index = False)['APG'].mean()['APG'],
                df1.groupby(['Name','Team'], as_index = False)['SPG'].mean()['SPG'],
                df1.groupby(['Name','Team'], as_index = False)['BPG'].mean()['BPG'],
                df1.groupby(['Name','Team'], as_index = False)['TOV'].mean()['TOV'],
                df1.groupby(['Name','Team'], as_index = False)['PF'].mean()['PF']
                ], axis = 1)

In [18]:
new1.shape

(195, 22)

**Lower than 240 due to 54 international players and 1 overseas league player**

In [22]:
new1['Name'].value_counts()

Anthony Brown               6
Marcus Thornton             3
Aaron White                 3
Tony Mitchell               3
Xavier Thames               2
Jordan Clarkson             2
Michael Gbinije             2
Rodney Hood                 2
Joe Harris                  2
Romero Osby                 2
Colton Iverson              2
Arsalan Kazemi              2
Alex Oriakhi                2
Devin Booker                2
Demetrius Jackson           2
Abdel Nader                 2
Kyle Anderson               2
Jordan Mcrae                2
Ben Mclemore                1
Elfrid Payton               1
Ben Bentil                  1
Isaiah Whitehead            1
Cody Zeller                 1
Deandre Daniels             1
Delon Wright                1
James Ennis                 1
Glen Rice                   1
Taurean Prince              1
Otto Porter                 1
Cheick Diallo               1
Denzel Valentine            1
Adreian Payne               1
Julius Randle               1
Cory Jefferson              1
Caris Levert                1
Mitch Mcgary                1
Noah Vonleh                 1
Michael Carter-Williams     1
Dejounte Murray             1
Rashad Vaughn               1
Jerami Grant                1
Grant Jerrett               1
Andre Roberson              1
Cameron Payne               1
Malcolm Brogdon             1
Spencer Dinwiddie           1
J.P. Tokoto                 1
Trey Burke                  1
Jabari Parker               1
Sam Dekker                  1
Frank Kaminsky              1
Jamaal Franklin             1
James Young                 1
Malik Beasley               1
Tyler Ulis                  1
A.J. Hammons                1
C.J. Wilcox                 1
Joel Embiid                 1
Jordan Mickey               1
Branden Dawson              1
Deshaun Thomas              1
Montrezl Harrell            1
Jarell Martin               1
Patrick Mccaw               1
Mason Plumlee               1
Marcus Paige                1
Kris Dunn                   1
Lamar Patterson             1
Lorenzo Brown               1
Rondae Hollis-Jefferson     1
Nerlens Noel                1
Reggie Bullock              1
Semaj Christon              1
Cady Lalanne                1
Kevon Looney                1
Olivier Hanlan              1
Tyus Jones                  1
Terry Rozier                1
Henry Ellenson              1
Dakari Johnson              1
Rakeem Christmas            1
Isaiah Canaan               1
Jeff Withey                 1
Marcus Smart                1
P.J. Hairston               1
Markel Brown                1
T.J. Warren                 1
Ryan Kelly                  1
Jamal Murray                1
Brandon Ingram              1
Tyler Harvey                1
Erick Green                 1
Jake Layman                 1
Zach Lavine                 1
Deyonta Davis               1
Darrun Hilliard             1
Andrew Harrison             1
Stephen Zimmerman           1
C.J. Mccollum               1
Pat Connaughton             1
Archie Goodwin              1
Jerian Grant                1
Solomon Hill                1
Nik Stauskas                1
Doug Mcdermott              1
Georges Niang               1
Pascal Siakam               1
R.J. Hunter                 1
Karl-Anthony Towns          1
Gary Harris                 1
Josh Richardson             1
Alex Len                    1
Bobby Portis                1
Jaylen Brown                1
Tony Snell                  1
Stanley Johnson             1
Daniel Hamilton             1
Allen Crabbe                1
Anthony Bennett             1
Kelly Olynyk                1
Trey Lyles                  1
Buddy Hield                 1
Steven Adams                1
Jahlil Okafor               1
Victor Oladipo              1
Ray Mccallum                1
Josh Huestis                1
Gorgui Dieng                1
Aaron Gordon                1
Diamond Stone               1
Justin Anderson             1
Russ Smith                  1
Malachi Richardson          1
Carrick Felix               1
Shane Larkin                1
Shabazz Muhammad            1
Ben Simmons                 1
Isaiah Cousins              1
Norman Powell               1
Dwight Powell               1
Chinanu Onuaku              1
Kentavious Caldwell-Pope    1
Tyrone Wallace              1
Pierre Jackson              1
D'Angelo Russell            1
Richaun Holmes              1
Tyler Ennis                 1
Joel Bolomboy               1
Peyton Siva                 1
Cleanthony Early            1
Jarnell Stokes              1
Damian Jones                1
K.J. Mcdaniels              1
Jordan Adams                1
Myles Turner                1
Jakob Poeltl                1
Andrew Wiggins              1
Alec Brown                  1
Cameron Bairstow            1
Mike Muscala                1
Justise Winslow             1
Kay Felder                  1
Shabazz Napier              1
Brice Johnson               1
Willie Cauley-Stein         1
Chris Mccullough            1
Nick Johnson                1
Skal Labissiere             1
Erik Murphy                 1
Nate Wolters                1
Name: Name, dtype: int64

In [24]:
new1 = new1.reset_index(drop = True)

In [62]:
new1.loc[new1['Name'] == 'Jordan Mcrae']

,Name,Team,PPG,Games Played,MPG,FGM,FGA,FG%,FTM,FTA,FT%,3PM,3PA,3P%,ORB,DRB,RPG,APG,SPG,BPG,TOV,PF,MPG3,FTMSR,FT%C,3PMSR,DRBL,APGCR,SPGSR,TOVSR
82,Jordan Mcrae,BU,0.300,7.0,1.766667,0.166667,0.766667,0.277667,0.000,0.000,0.00000,0.000,0.0,0.00000,0.066667,0.100,0.166667,0.033333,0.000,0.033333,0.033333,0.20,5.513963,0.000000,0.000000,0.000000,-2.302585,0.321830,0.000000,0.182574
83,Jordan Mcrae,UT,11.775,28.5,23.150000,3.850000,9.325000,0.388000,2.725,3.625,0.69325,1.375,4.1,0.28625,0.600000,2.325,2.950000,1.575000,0.575,0.800000,1.800000,1.75,12406.605875,1.650757,0.333173,1.172604,0.843720,1.163483,0.758288,1.341641

In [63]:
new1.drop(new1.index[[82]], inplace = True)
new1 = new1.reset_index(drop = True)

In [84]:
new1['College'] = new1['Team']

In [66]:
general = pd.read_csv('/Users/mattlee/GA-Capstone-Project/generaldf.csv')

In [67]:
general['CollegeName'] = general['College']

In [97]:
general.loc[general['College'] == 'Wake Forest University', 'College'] = 'WF'
general.loc[general['College'] == 'University of Virginia', 'College'] = 'UVA'
general.loc[general['College'] == 'University of California', 'College'] = 'Cal'
general.loc[general['College'] == 'University of Kentucky', 'College'] = 'UK'
general.loc[general['College'] == 'Boston College', 'College'] = 'BC'
general.loc[general['College'] == 'University of North Carolina', 'College'] = 'UNC'
general.loc[general['College'] == 'University of Wisconsin', 'College'] = 'UW'
general.loc[general['College'] == 'University of Arizona', 'College'] = 'U of A'
general.loc[general['College'] == 'Colorado State University', 'College'] = 'CSU'
general.loc[general['College'] == 'Syracuse University', 'College'] = 'SU'
general.loc[general['College'] == 'Rider University', 'College'] = 'RU'
general.loc[general['College'] == 'University of Virginia', 'College'] = 'UVA'
general.loc[general['College'] == 'Louisiana State University', 'College'] = 'LSU'
general.loc[general['College'] == 'College of William & Mary', 'College'] = 'W&M'
general.loc[general['College'] == 'California State University Fresno', 'College'] = 'CSUF'
general.loc[general['College'] == 'University of Alabama', 'College'] = 'UA'
general.loc[general['College'] == 'University of Florida', 'College'] = 'UF'
general.loc[general['College'] == 'University of Texas at Austin', 'College'] = 'UT'
general.loc[general['College'] == 'University of Missouri', 'College'] = 'MU'
general.loc[general['College'] == 'University of Connecticut', 'College'] = 'UConn'
general.loc[general['College'] == 'University of Pittsburgh', 'College'] = 'PITT'
general.loc[general['College'] == 'Creighton University', 'College'] = 'CU'
general.loc[general['College'] == 'University of Utah', 'College'] = 'U of U'
general.loc[general['College'] == 'College of Charleston', 'College'] = 'C of C'
general.loc[general['College'] == 'St. Bonaventure University', 'College'] = 'STBN'
general.loc[general['College'] == 'Purdue University', 'College'] = 'PU'
general.loc[general['College'] == 'University of Memphis', 'College'] = 'UM'
general.loc[general['College'] == 'Texas A&M University', 'College'] = 'TAMU'
general.loc[general['College'] == 'University of California Los Angeles', 'College'] = 'UCLA'
general.loc[general['College'] == 'Georgetown University', 'College'] = 'GU'
general.loc[general['College'] == 'Duke University', 'College'] = 'DUKE'
general.loc[general['College'] == 'University of Kansas', 'College'] = 'KU'
general.loc[general['College'] == 'University of Illinois at Urbana-Champaign', 'College'] = 'U of I'
general.loc[general['College'] == 'Georgia Institute of Technology', 'College'] = 'GT'
general.loc[general['College'] == 'Central Michigan University', 'College'] = 'CMU'
general.loc[general['College'] == 'Western Kentucky University', 'College'] = 'WKU'
general.loc[general['College'] == 'Indiana University', 'College'] = 'IU'
general.loc[general['College'] == 'Washington State University', 'College'] = 'WSHU'
general.loc[general['College'] == 'Weber State University', 'College'] = 'WSU'
general.loc[general['College'] == 'Oklahoma State University', 'College'] = 'OSU'
general.loc[general['College'] == 'Ohio State University', 'College'] = 'OHSU'
general.loc[general['College'] == 'University of New Mexico', 'College'] = 'UNM'
general.loc[general['College'] == 'Villanova University', 'College'] = 'VILL'
general.loc[general['College'] == 'Xavier University', 'College'] = 'XAV'
general.loc[general['College'] == 'Saint Joseph\'s University', 'College'] = 'SJU'
general.loc[general['College'] == 'University of South Carolina', 'College'] = 'USCAR'
general.loc[general['College'] == 'University of Southern California', 'College'] = 'USC'
general.loc[general['College'] == 'Marquette University', 'College'] = 'MU'
general.loc[general['College'] == 'Marshall University', 'College'] = 'MRU'
general.loc[general['College'] == 'Vanderbilt University', 'College'] = 'VU'
general.loc[general['College'] == 'University of Richmond', 'College'] = 'RICH'
general.loc[general['College'] == 'Michigan State University', 'College'] = 'MSU'
general.loc[general['College'] == 'University of Louisville', 'College'] = 'U of L'
general.loc[general['College'] == 'Virginia Commonwealth University', 'College'] = 'VCU'
general.loc[general['College'] == 'Indiana University-Purdue University Indianapolis', 'College'] = 'IUPUI'
general.loc[general['College'] == 'University of Maryland', 'College'] = 'UMD'
general.loc[general['College'] == 'North Carolina State University', 'College'] = 'NCST'
general.loc[general['College'] == 'Arizona State University', 'College'] = 'ASU'
general.loc[general['College'] == 'Louisiana Tech University', 'College'] = 'LTU'
general.loc[general['College'] == 'San Diego State University', 'College'] = 'SDSU'
general.loc[general['College'] == 'Western Carolina University', 'College'] = 'WCU'
general.loc[general['College'] == 'University of Georgia', 'College'] = 'UGA'
general.loc[general['College'] == 'University of Cincinnati', 'College'] = 'UC'
general.loc[general['College'] == 'Cleveland State University', 'College'] = 'CLSU'
general.loc[general['College'] == 'University of Nevada Reno', 'College'] = 'UNR'
general.loc[general['College'] == 'Brigham Young University', 'College'] = 'BYU'
general.loc[general['College'] == 'Clemson University', 'College'] = 'CLEM'
general.loc[general['College'] == 'University of Minnesota', 'College'] = 'U of M'
general.loc[general['College'] == 'Norfolk State University', 'College'] = 'NSU'
general.loc[general['College'] == 'Temple University', 'College'] = 'TEM'
general.loc[general['College'] == 'University of Oregon', 'College'] = 'UO'
general.loc[general['College'] == 'University of Nevada Las Vegas', 'College'] = 'UNLV'
general.loc[general['College'] == 'St. John\'s University', 'College'] = 'STJ'
general.loc[general['College'] == 'Kansas State University', 'College'] = 'KSU'
general.loc[general['College'] == 'University of South Florida', 'College'] = 'USF'
general.loc[general['College'] == 'Eastern Washington University', 'College'] = 'EWU'
general.loc[general['College'] == 'Providence College', 'College'] = 'PROV'
general.loc[general['College'] == 'Davidson College', 'College'] = 'DAV'
general.loc[general['College'] == 'Florida State University', 'College'] = 'FSU'
general.loc[general['College'] == 'University of Detroit Mercy', 'College'] = 'UDM'
general.loc[general['College'] == 'DePaul University', 'College'] = 'DEP'
general.loc[general['College'] == 'University of Colorado', 'College'] = 'UCOL'
general.loc[general['College'] == 'Gonzaga University', 'College'] = 'ZAGS'
general.loc[general['College'] == 'University of Washington', 'College'] = 'UWASH'
general.loc[general['College'] == 'Stanford University', 'College'] = 'STFD'
general.loc[general['College'] == 'Baylor University', 'College'] = 'BAY'
general.loc[general['College'] == 'Butler University', 'College'] = 'BUT'
general.loc[general['College'] == 'University of Miami', 'College'] = 'UMIA'
general.loc[general['College'] == 'Morehead State University', 'College'] = 'MHSU'
general.loc[general['College'] == 'University of Arkansas', 'College'] = 'UARK'
general.loc[general['College'] == 'University of Tennessee', 'College'] = 'UTEN'
general.loc[general['College'] == 'University of Massachusetts Amherst', 'College'] = 'UMass'
general.loc[general['College'] == 'Lehigh University', 'College'] = 'LU'
general.loc[general['College'] == 'University of Iowa', 'College'] = 'UI'
general.loc[general['College'] == 'University of Wisconsin-Green Bay', 'College'] = 'UWGB'

In [102]:
general.loc[general['Name'] == 'Aaron White']

,Year,Pick,Name,Team,College,Age at Draft,Weight at Draft,Height at Draft,Country,Position,Date,City,State,Height Inches,SeasonYear,CollegeName,NBATeam
1442,2015,49,Aaron White,University of Iowa,UI,22.6,220,"6'9.0""",USA,PF,"Sep 10, 1992",Strongsville,Ohio,81,2016,University of Iowa,WAS

In [96]:
new1.loc[new1['Name'] == 'Anthony Brown',['Team','College']] = 'STFD'

In [70]:
general['NBATeam'] = general['Team']
general['Team'] = general['College']

In [98]:
new1 = new1.merge(general[['Year','Name','College','Age at Draft','Weight at Draft', 'Height Inches','NBATeam']], 
                 on = ['Name','College'], how = 'left')

In [115]:
new1 = new1.merge(general[['Name','College','NBATeam']], 
                 on = ['Name','College'], how = 'left')

In [116]:
len(new1.loc[new1['Year_y'].isnull()])

41

In [117]:
new2 = new1.loc[new1['Year_y'].notnull()].copy()

**Defense Columns**
* u'MPG3', u'FG%', u'FTMSR', u'FT%C', u'3PMSR', u'DRBL', u'APGCR',u'SPGSR', u'TOVSR', u'BPG', u'PF', u'Age at Draft SR', u'Weight at Draft', u'Height Inches C', u'TopSchool'

In [397]:
new2['MPG3'] = new1['MPG']**3
new2['FTMSR'] = new1['FTM']**(0.5)
new2['FT%C'] = new1['FT%']**3
new2['3PMSR'] = new1['3PM']**(0.5)
new2['DRBL'] = np.log(new1['DRB'])
new2['APGCR'] = np.cbrt(new1['APG'])
new2['SPGSR'] = new1['SPG']**(0.5)
new2['TOVSR'] = new1['TOV']**(0.5)
new2['Age at Draft SR'] = new1['Age at Draft_y']**(0.5)
new2['Height Inches C'] = new1['Height Inches_y']**3
new2['Games Played 4'] = new1['Games Played']**4
new2['ORBSR'] = new1['ORB']**(0.5)

In [119]:
new2['TopSchool'] = new2['College'].apply(lambda x: 1 if x == 'UK' else 1 if x == 'UCLA' else 1 if x == 'UF' else 0)

In [398]:
new2.to_csv('newplayers1.csv', index = False)

In [379]:
early2017 = ['Shaqquan Aaron', 'Jaylen Adams', 'Edrice Adebayo','Deng Adel','Jashaun Agosto','Bashir Ahmed',
'Rawle Alkins', 'Jarrett Allen','Mark Alstork','Ike Anigbogu','OG Anunoby','Dwayne Bacon','Lonzo Ball', 
'Jaylen Barford','Jordan Bell','Trae Bell-Haynes','Joel Berry II','James Blackmon Jr.','Antonio Blakeney',
'Trevon Bluiett','Bennie Boatwright','Jacobi Boykins','Tony Bradley','Isaiah Briscoe','Dillon Brooks','Thomas Bryant',
'Rodney Bullock','Jevon Carter','Clandell Cetoute','Joseph Chartouny','Donte\' Clark','Chris Clemons','David Collette',
'John Collins','Zach Collins','Chance Comanche','Angel Delgado','Hamidou Diallo','Tyler Dorsey','PJ Dozier',
'Vince Edwards','John Egbunu','Jon Elmore','Obi Enechionyia','Drew Eubanks','Jawun Evans','Tacko Fall','Tony Farmer',
'De\'Aaron Fox','Markelle Fultz','Harry Giles','Brandon Goodwin','Donte Grantham','Isaac Haas','Aaron Holiday',
'Isaac Humphries','Chandler Hutchison','Jonathan Isaac','Frank Jackson','Josh Jackson','Justin Jackson',
'Justin Jackson','Alize Johnson','B.J. Johnson','Darin Johnson','Jaylen Johnson','Robert Johnson','Andrew Jones',
'Kerem Kanter','Ted Kapita','Marcus Keene','Luke Kennard','Braxton Key','George King','Kyle Kuzma','Khadeem Lattin', 
'TJ Leaf','William Lee','Zach Lofton','Tyler Lydon','Daryl Macon','Marin Maric','Lauri Markkanen','Yante Maten',
'Markis McDuffie','MiKyle McIntosh','Eric Mika','Donovan Mitchell','Malik Monk','Matthew Morgan','Shaquille Morris',
'Johnathan Motley','Svi Mykhailiuk','Divine Myles','Derick Newton','Austin Nichols','Semi Ojeleye','Cameron Oliver',
'Randy Onwuasor','Justin Patton','L.J. Peak','Theo Pinson','Ivan Rabb','Xavier Rathan-Mayes','Devin Robinson',
'Josh Robinson','Martavius Robinson','Maverick Rowan','Corey Sanders','Victor Sanders',
'Jaaron Simmons','Kobi Simmons','Fred Sims Jr.','Dennis Smith','Zach Smith','Kamau Stokes','Edmond Sumner',
'Caleb Swanigan','Jayson Tatum','Matt Taylor','James Thompson IV','Stephen Thompson Jr.','Trevor Thompson', 
'Melo Trimble', 'Craig Victor II', 'Moritz Wagner', 'Tevonn Walker', 'Antone Warren', 'Thomas Welsh', 'Thomas Wilder', 
'Cecil Williams', 'Johnathan Williams','Kam Williams', 'Nigel Williams-Goss', 'Christian Wilson', 'D.J. Wilson', 
'Omer Yurtseven']

In [380]:
df2 = df.loc[df['Name'].isin(early2017)].copy()

In [383]:
dennis = df2.loc[df2['Name'] == 'Dennis Smith'].copy()

In [132]:
nz = df2.groupby(['Name','Team'], as_index = False)['PPG'].mean()

In [133]:
nz1 = pd.concat([nz,
                df2.groupby(['Name','Team'], as_index = False)['Games Played'].mean()['Games Played'],
                df2.groupby(['Name','Team'], as_index = False)['MPG'].mean()['MPG'],
                df2.groupby(['Name','Team'], as_index = False)['FGM'].mean()['FGM'],
                df2.groupby(['Name','Team'], as_index = False)['FGA'].mean()['FGA'],
                df2.groupby(['Name','Team'], as_index = False)['FG%'].mean()['FG%'],
                df2.groupby(['Name','Team'], as_index = False)['FTM'].mean()['FTM'],
                df2.groupby(['Name','Team'], as_index = False)['FTA'].mean()['FTA'],
                df2.groupby(['Name','Team'], as_index = False)['FT%'].mean()['FT%'],
                df2.groupby(['Name','Team'], as_index = False)['3PM'].mean()['3PM'],
                df2.groupby(['Name','Team'], as_index = False)['3PA'].mean()['3PA'],
                df2.groupby(['Name','Team'], as_index = False)['3P%'].mean()['3P%'],
                df2.groupby(['Name','Team'], as_index = False)['ORB'].mean()['ORB'],
                df2.groupby(['Name','Team'], as_index = False)['DRB'].mean()['DRB'],
                df2.groupby(['Name','Team'], as_index = False)['RPG'].mean()['RPG'],
                df2.groupby(['Name','Team'], as_index = False)['APG'].mean()['APG'],
                df2.groupby(['Name','Team'], as_index = False)['SPG'].mean()['SPG'],
                df2.groupby(['Name','Team'], as_index = False)['BPG'].mean()['BPG'],
                df2.groupby(['Name','Team'], as_index = False)['TOV'].mean()['TOV'],
                df2.groupby(['Name','Team'], as_index = False)['PF'].mean()['PF']
                ], axis = 1)

In [135]:
nz1['Name'].value_counts()

Justin Jackson         5
Austin Nichols         3
Robert Johnson         3
Justin Patton          3
Andrew Jones           3
Josh Jackson           3
Semi Ojeleye           2
B.J. Johnson           2
Zach Lofton            2
Donovan Mitchell       2
Darin Johnson          2
Randy Onwuasor         2
Brandon Goodwin        2
Mark Alstork           2
John Egbunu            2
Nigel Williams-Goss    2
David Collette         2
Marcus Keene           2
Johnathan Williams     2
Shaqquan Aaron         2
Jordan Bell            2
Trevor Thompson        2
Zach Smith             2
Jaaron Simmons         2
Josh Robinson          2
Thomas Welsh           1
Theo Pinson            1
Vince Edwards          1
Tyler Dorsey           1
Maverick Rowan         1
Jon Elmore             1
John Collins           1
Frank Jackson          1
Antonio Blakeney       1
Cecil Williams         1
Kobi Simmons           1
Eric Mika              1
Rodney Bullock         1
Johnathan Motley       1
Matt Taylor            1
Jaylen Barford         1
Kam Williams           1
Chris Clemons          1
Trae Bell-Haynes       1
Daryl Macon            1
Dillon Brooks          1
Malik Monk             1
Chance Comanche        1
William Lee            1
Obi Enechionyia        1
Tacko Fall             1
Xavier Rathan-Mayes    1
Ivan Rabb              1
Edmond Sumner          1
Divine Myles           1
Tony Bradley           1
Jevon Carter           1
Thomas Bryant          1
Victor Sanders         1
Melo Trimble           1
Isaac Humphries        1
Omer Yurtseven         1
Marin Maric            1
Jayson Tatum           1
Drew Eubanks           1
Jaylen Johnson         1
Jonathan Isaac         1
Kamau Stokes           1
Donte Grantham         1
Jarrett Allen          1
Chandler Hutchison     1
Rawle Alkins           1
Thomas Wilder          1
Bashir Ahmed           1
Derick Newton          1
Harry Giles            1
Caleb Swanigan         1
Yante Maten            1
Devin Robinson         1
Jacobi Boykins         1
Kerem Kanter           1
Braxton Key            1
Aaron Holiday          1
Markelle Fultz         1
Ike Anigbogu           1
L.J. Peak              1
Lauri Markkanen        1
Joseph Chartouny       1
Christian Wilson       1
Isaiah Briscoe         1
Dwayne Bacon           1
George King            1
Deng Adel              1
Jashaun Agosto         1
Angel Delgado          1
Kyle Kuzma             1
Lonzo Ball             1
Ted Kapita             1
De'Aaron Fox           1
Tevonn Walker          1
Khadeem Lattin         1
Zach Collins           1
D.J. Wilson            1
Shaquille Morris       1
Alize Johnson          1
Jaylen Adams           1
Bennie Boatwright      1
Jawun Evans            1
Tyler Lydon            1
Luke Kennard           1
Cameron Oliver         1
Trevon Bluiett         1
Corey Sanders          1
Isaac Haas             1
Name: Name, dtype: int64

In [186]:
nz1.loc[nz1['Name'] == 'Josh Robinson']

,Name,Team,PPG,Games Played,MPG,FGM,FGA,FG%,FTM,FTA,FT%,3PM,3PA,3P%,ORB,DRB,RPG,APG,SPG,BPG,TOV,PF
54,Josh Robinson,APSU,15.3,31.666667,30.733333,4.8,11.733333,0.401,3.8,4.633333,0.807667,1.933333,5.366667,0.358667,0.4,2.166667,2.533333,2.2,0.866667,0.033333,2.1,1.3
55,Josh Robinson,SUBR,2.7,8.000000,9.900000,0.9,3.500000,0.267,0.0,0.000000,0.000000,0.800000,3.200000,0.259000,0.0,0.800000,0.800000,0.6,0.400000,0.000000,0.6,1.2

In [187]:
nz1.drop(nz1.index[[55]], inplace = True)
nz1 = nz1.reset_index(drop = True)

In [189]:
nz1['College'] = nz1['Team']

In [385]:
nzd = pd.concat([nz1,dennis])

In [387]:
nzd = nzd.reset_index(drop = True)

In [200]:
gen2017 = df.loc[df['Name'].isin()]

In [388]:
nzearly = nzd.merge(earlyentrydf[['Name','Age at Draft','Weight at Draft','Height Inches']], on = 'Name')

In [389]:
nzearly.head()

,3P%,3PA,3PM,APG,BPG,College,DRB,FG%,FGA,FGM,FT%,FTA,FTM,Games Played,MPG,Name,ORB,PF,PPG,RPG,SPG,TOV,Team,Year,Age at Draft,Weight at Draft,Height Inches
0,0.4150,3.10,1.30,3.95,0.2,UCLA,2.35,0.4395,8.45,3.7,0.760,2.80,2.10,34.0,29.05,Aaron Holiday,0.45,2.60,10.75,2.80,1.2,2.55,UCLA,NaN,20.6,187,73
1,0.3880,3.30,1.30,2.00,0.2,MSU,7.70,0.4880,11.10,5.4,0.677,5.10,3.50,33.0,30.20,Alize Johnson,3.50,2.70,15.60,11.20,0.6,2.40,MSU,NaN,21.0,206,81
2,0.3280,4.00,1.30,3.60,0.4,UT,3.60,0.4250,9.00,3.8,0.775,3.40,2.70,33.0,27.90,Andrew Jones,0.50,2.20,11.70,4.00,1.3,2.50,UT,NaN,19.4,190,76
3,0.3465,4.55,1.55,1.30,0.1,LSU,3.05,0.4415,11.20,5.0,0.736,3.65,2.70,32.0,31.85,Antonio Blakeney,0.85,1.45,14.20,3.95,0.6,1.35,LSU,NaN,20.6,177,76
4,0.3695,2.30,0.85,2.40,0.5,PU,8.30,0.4940,10.25,5.1,0.747,4.40,3.35,34.5,29.10,Caleb Swanigan,2.15,2.55,14.45,10.45,0.4,3.05,PU,NaN,20.0,247,81

In [364]:
top = ['De\'Aaron Fox','Malik Monk','Lonzo Ball','Ike Anigbogu','T.J. Leaf','Bam Adebayo','Devin Robinson',
      'Aaron Holiday','Isaiah Briscoe','Isaac Humphries']

In [391]:
nzearly['TopSchool'] = nzearly['Name'].apply(lambda x: 1 if x in top else 0)

In [395]:
nzearly['MPG3'] = nzearly['MPG']**3
nzearly['FTMSR'] = nzearly['FTM']**(0.5)
nzearly['FT%C'] = nzearly['FT%']**3
nzearly['3PMSR'] = nzearly['3PM']**(0.5)
nzearly['DRBL'] = np.log(nzearly['DRB'])
nzearly['APGCR'] = np.cbrt(nzearly['APG'])
nzearly['SPGSR'] = nzearly['SPG']**(0.5)
nzearly['TOVSR'] = nzearly['TOV']**(0.5)
nzearly['Age at Draft SR'] = nzearly['Age at Draft']**(0.5)
nzearly['Height Inches C'] = nzearly['Height Inches']**3
nzearly['Games Played 4'] = nzearly['Games Played']**4
nzearly['ORBSR'] = nzearly['ORB']**(0.5)

In [393]:
nzearly.head()

,3P%,3PA,3PM,APG,BPG,College,DRB,FG%,FGA,FGM,FT%,FTA,FTM,Games Played,MPG,Name,ORB,PF,PPG,RPG,SPG,TOV,Team,Year,Age at Draft,Weight at Draft,Height Inches,TopSchool,MPG3,FTMSR,FT%C,3PMSR,DRBL,APGCR,SPGSR,TOVSR,Age at Draft SR,Height Inches C
0,0.4150,3.10,1.30,3.95,0.2,UCLA,2.35,0.4395,8.45,3.7,0.760,2.80,2.10,34.0,29.05,Aaron Holiday,0.45,2.60,10.75,2.80,1.2,2.55,UCLA,NaN,20.6,187,73,1,24515.367625,1.449138,0.438976,1.140175,0.854415,1.580759,1.095445,1.596872,4.538722,389017
1,0.3880,3.30,1.30,2.00,0.2,MSU,7.70,0.4880,11.10,5.4,0.677,5.10,3.50,33.0,30.20,Alize Johnson,3.50,2.70,15.60,11.20,0.6,2.40,MSU,NaN,21.0,206,81,0,27543.608000,1.870829,0.310289,1.140175,2.041220,1.259921,0.774597,1.549193,4.582576,531441
2,0.3280,4.00,1.30,3.60,0.4,UT,3.60,0.4250,9.00,3.8,0.775,3.40,2.70,33.0,27.90,Andrew Jones,0.50,2.20,11.70,4.00,1.3,2.50,UT,NaN,19.4,190,76,0,21717.639000,1.643168,0.465484,1.140175,1.280934,1.532619,1.140175,1.581139,4.404543,438976
3,0.3465,4.55,1.55,1.30,0.1,LSU,3.05,0.4415,11.20,5.0,0.736,3.65,2.70,32.0,31.85,Antonio Blakeney,0.85,1.45,14.20,3.95,0.6,1.35,LSU,NaN,20.6,177,76,0,32309.356625,1.643168,0.398688,1.244990,1.115142,1.091393,0.774597,1.161895,4.538722,438976
4,0.3695,2.30,0.85,2.40,0.5,PU,8.30,0.4940,10.25,5.1,0.747,4.40,3.35,34.5,29.10,Caleb Swanigan,2.15,2.55,14.45,10.45,0.4,3.05,PU,NaN,20.0,247,81,0,24642.171000,1.830301,0.416833,0.921954,2.116256,1.338866,0.632456,1.746425,4.472136,531441

In [396]:
nzearly.to_csv('earlyentrydf1.csv', index = False)

In [204]:
earlyentrydf = pd.read_csv('/Users/mattlee/GA-Capstone-Project/earlyentryid.csv')

In [316]:
earlyentrydf.loc[earlyentrydf['ID'] == 'Fox','ID'] = 72510

In [344]:
earlyentrydf.drop(earlyentrydf.index[[59]], inplace = True)
earlyentrydf = earlyentrydf.reset_index(drop = True)

In [356]:
age = [21.0,19.7,20.2,19.0,21.9,22.6,22.3,20.2,20.6,19.3,20.5,21.3,19.8,19.5,19.5,21.2,21,22,20,21.2,20.6,21.1,20.9,
      21.1,19.8,19.9,18.5,20,21.4,19.8,19.3,19.2,19.4,22.2,19.9,20,19.4,22.3,19.4,20.3,19,21.3,19.5,19.6,20.8,22.4,
      19.6,21.3,20.7,21.7,19.2,20.2,22.3,21.3,19,21.8,20.8,21.1,18.9,18.9]
height = [81,85,80,76,81,76,81,80,76,84,78,79,82,77,84,76,79,81,83,82,73,80,78,75,76,84,82,81,90,82,82,76,76,80,84,82,
         76,75,75,82,83,77,78,83,80,79,82,79,75,77,80,82,82,77,83,81,73,82,84,76]
weight = [206,214,203,208,225,182,227,230,177,260,200,215,241,220,230,180,193,230,240,240,187,225,202,218,170,226,
         230,247,300,250,248,197,171,200,225,220,190,192,195,240,222,170,190,205,225,235,225,200,210,202,204,215,230,
         215,224,221,177,225,228,195]

In [353]:
len(weight)

60

In [357]:
earlyentrydf['Age at Draft'] = age
earlyentrydf['Height Inches'] = height
earlyentrydf['Weight at Draft'] = weight

In [358]:
earlyentrydf

        ID                 Name  Age at Draft  Height Inches  Weight at Draft
0   104070        Alize Johnson          21.0             81              206
1    73350     Laurynas Birutis          19.7             85              214
2     7239         Josh Jackson          20.2             80              203
3    89588        Frank Jackson          19.0             76              208
4    46066   Johnathan Williams          21.9             81              225
5     7093  Nigel Williams-Goss          22.6             76              182
6    70316          Jordan Bell          22.3             81              227
7     7083       Justin Jackson          20.2             80              230
8    76407     Antonio Blakeney          20.6             76              177
9    76520      Isaac Humphries          19.3             84              260
10    7268          P.J. Dozier          20.5             78              200
11   72497        Dillon Brooks          21.3             79              215
12    7231        Thomas Bryant          19.8             82              241
13   82169         Rawle Alkins          19.5             77              220
14    7303         Zach Collins          19.5             84              230
15   72515         Tyler Dorsey          21.2             76              180
16   82897   Chandler Hutchison          21.0             79              193
17   72553     Johnathan Motley          22.0             81              230
18   85701        Moritz Wagner          20.0             83              240
19   82837          D.J. Wilson          21.2             82              240
20   71548        Aaron Holiday          20.6             73              187
21   71603        Vince Edwards          21.1             80              225
22   72914         Luke Kennard          20.9             78              202
23    7140       Isaiah Briscoe          21.1             75              218
24    7247         Kobi Simmons          19.8             76              170
25    7310        Justin Patton          19.9             84              226
26   84426         Ike Anigbogu          18.5             82              230
27   71578       Caleb Swanigan          20.0             81              247
28   81843           Tacko Fall          21.4             90              300
29   72747          Bam Adebayo          19.8             82              250
30   81973         Tony Bradley          19.3             82              248
31    7243           Malik Monk          19.2             76              197
32   72510         De'Aaron Fox          19.4             76              171
33   72830       Devin Robinson          22.2             80              200
34   73519      Lauri Markkanen          19.9             84              225
35    7242            T.J. Leaf          20.0             82              220
36   90194         Andrew Jones          19.4             76              190
37    7258         Melo Trimble          22.3             75              192
38   76448         Dennis Smith          19.4             75              195
39   81859         Drew Eubanks          20.3             82              240
40    7236          Harry Giles          19.0             83              222
41   71622        Edmond Sumner          21.3             77              170
42    7229           Lonzo Ball          19.5             78              190
43   90052       Jonathan Isaac          19.6             83              205
44   82860       Cameron Oliver          20.8             80              225
45    7164         Semi Ojeleye          22.4             79              235
46   76415         John Collins          19.6             82              225
47   82124            Deng Adel          21.3             79              200
48   84680     Donovan Mitchell          20.7             75              210
49   76403         Dwayne Bacon          21.7             77              202
50    7249         Jayson Tatum          19.2             80              204
51    7245            Ivan Rabb          20.2             82              215
52    7222            Eric Mika          22.3             82              230
53   71719            L.J. Peak          21.3             77              215
54   83262        Jarrett Allen          19.0             83              224
55   82886           Kyle Kuzma          21.8             81              221
56   76420          Jawun Evans          20.8             73              177
57   71672          Tyler Lydon          21.1             82              225
58   73269       Omer Yurtseven          18.9             84              228
59   90302       Markelle Fultz          18.9             76              195